<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GS - GamesSearch</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body style="background-image: url('../static/img/BSER/BSER_BG_2.png'); background-repeat: no-repeat;">
        <nav>
            <ul class="nav-container">
                <button class="nav-item"> <a href="" style="font-size: 25px; color: white;"><strong>GS</strong></a></li>
                <button class="nav-item"><a href="/lol">League of Legends</a></button>
                <button class="nav-item active"><a href="/bser">Eternal Return</a></button>
                <button class="nav-item"><a href="/pubg">PUBG: BATTLEGROUNDS</a></button>
            </ul>
        </nav>
        <div class="search_wrapper">
            <img style="opacity: 1.0; width: 80%;" src="{{ url_for('static', filename='img/BSER/BSER_LOGO.png') }}">
            <form class="form-inline" autocomplete="off" action="/bser/Player" method="GET">
                <input type="text" class="form-control" id="search" name="nickname" placeholder="닉네임">&nbsp;
                <button type="submit" id="btn">찾기</button>
            </form>
        </div>
    </body>
</html>