
<!DOCTYPE html>
<html>
    <head>
        <title>GS - Games Search</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body style="background-color: #f1fff1;">
        <nav class="navbar  navbar-expand-sm bg-secondary navbar-dark">
            <a class="navbar-brand" href="/">GS</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/lol">League of Legends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bser">Eternal Return</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pubg">PUBG: BATTLEGROUNDS</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="row text-center">
				<div class="col text-center">
                    <br><br>
                    <button type="button" onClick="location.href='/lol'" class="btn btn-outline-warning" style="width: 33%; height: 70%; font-size: 30px;">League of Legends</button>
					<button type="button" onClick="location.href='/bser'" class="btn btn-outline-dark" style="width: 33%; height: 70%; font-size: 30px;">Eternal Return</a></button>
					<button type="button" onClick="location.href='/pubg'" class="btn btn-outline-success" style="width: 33%; height: 70%; font-size: 30px;">PUBG: BATTLEGROUNDS</button>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>